*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #565656;
}
.d-none{
  display: none;
  transition: all .6s;
}
#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  vertical-align: center;
  justify-content: center;
}
#root>div{
  margin: auto;
  max-width: 100%;
  padding: 15px;
}
label{
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
  flex-direction: column;
  display: flex;
  align-items: start;
  
}
select, input {
  max-width: 100%;
  display: block;
  height: 56px;
  padding: 0 20px;
  color: inherit;
  border: 1px solid #c9c9ca;
  border-radius: 4px;
  font-weight: 600;
  background: transparent;
  margin: auto auto 32px 0;
}

label>input{
  margin-left: 0;
}
div.screen-size{
  margin: auto;
  height: fit-content;
}
div.screen-size>label>input{
  margin-top: 16px;
}
/*div.screen-size>label:first-child{
  margin-bottom: 32px;

}*/

.salePrice>input{
  min-width: 400px;
}
.bt{
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  transition: 0.4s ease all;
  border-radius: 50px;
  color: #fff;
  margin-right: 32px;
  margin-bottom: 32px;
}
.primary1-bt{
  background: #ff1e24
}
.primary-bt{
  background: #ff9494
}
.second-bt{
  background: #484848
}
.footer{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px 16px;
}
.footer>button{
  margin: 0 16px 0 16px;
}
.logo{
  max-width: 128px;
  height: auto;
  margin-bottom: 22px;
}