*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #565656;
}
.d-none{
  display: none;
  transition: all .6s;
}
#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  vertical-align: center;
  justify-content: center;
}
#root>div{
  margin: auto;
}
label{
  width: fit-content;
  flex-direction: column;
  display: flex;
  align-items: start;
  
}
select, input {
  display: block;
  height: 56px;
  width: fit-content;
  padding: 0 20px;
  margin: auto;
  color: inherit;
  border: 1px solid #c9c9ca;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
}

label>input{
  margin-left: 0;
}
div.screen-size{
  margin: auto;
  height: fit-content;
}
div.screen-size>label>input{
  margin-top: 16px;
}
div.screen-size>label:first-child{
  margin-bottom: 32px;

}

.salePrice>input{
  min-width: 400px;
}